<section class="app-container py-8 space-y-5">
  <%= link_to "<- Back to Quest List", quest_items_path, class: "btn btn-ghost" %>
  <h1 class="font-bold text-4xl">First's Brag Document</h1>
  <div class="bg-base-300 p-6 rounded-lg shadow-lg space-y-4">
    <h2 class="text-3xl font-bold">2025 Goals</h2>
    <div class="space-y-6">
      <div class="bg-base-200 p-4 rounded-lg">
        <h3 class="text-xl font-medium mb-3">🧘‍♂️ กับตัวเอง</h3>
        <ul class="list-disc list-inside space-y-2 ml-4">
          <li>วิดพื้นให้ได้วันละ 40 ครั้ง (ตอนนี้เฉลี่ย 30 ครั้งต่อวัน)</li>
          <li>อ่านหนังสือ Give and Take ของ Adam Grant ให้จบและสามารถนำ insight ไปทำ actionable plan ได้</li>
          <li>อยากเริ่มเรียนภาษาจีน ให้พูด อ่าน ขั้นพื้นฐานได้ (BMA มีสอนไหม)</li>
        </ul>
      </div>
      <div class="bg-base-200 p-4 rounded-lg">
        <h3 class="text-xl font-medium mb-3">💼 กับงาน</h3>
        <ul class="list-disc list-inside space-y-2 ml-4">
          <li>ช่วย support เติมช่องว่างของทีม ต้องพร้อมทำเรียนรู้ทุกอย่าง</li>
          <li>ทำ advent of code ของปี 2025 ให้ได้อย่างน้อยรวม 30 ดาว (ตอนนี้ทำไป 13 ดาว)</li>
          <li>ใช้ TDD ให้คล่องเหมือน workflow ปกติ</li>
          <li>เขียน blog เกี่ยวกับการใช้ AI ให้เกิดประสิทธิภาพสูงสุดในฐานะ developer</li>
          <li>อยากเป็น TA ของพี่ๆสักคลาส</li>
          <li>ใช้ rails ให้คล่องเท่ากับเขียน typescript ใช้เครื่องมือต่างๆได้คล่องเช่น stimulus, turbo</li>
          <li>ใช้ figma ได้ระดับ good practice (ผมไม่ชอบเลย แต่ขอเอาให้มันรู้แล้วรู้รอด)</li>
        </ul>
      </div>
      <div class="bg-base-200 p-4 rounded-lg">
        <h3 class="text-xl font-medium mb-3">👨‍🏫 กับการสอนและ mentorship (ผมอยากเป็นครู)</h3>
        <ul class="list-disc list-inside space-y-2 ml-4">
          <li>หาเด็กมาเรียนภายในเดือน 7 และสอนให้ graduate อีกคน</li>
          <li>ปัจจุบันผมสอน course Full-stack developer 50 ชม. สอนตั้งแต่เริ่มยันเขียน front, back ได้ ตอนนี้จบไปแล้ว 2 คน</li>
          <li>หลังจากกลับมหาลัยจะต้องเปิด workshop เพื่อ share ความรู้ Test Driven Development ให้กับเพื่อนๆและน้องๆ KMUTT (อยากสอน scrum ด้วยแต่ขอ TDD ก่อน)</li>
          <li>เปิดคอร์ส React Developer เพิ่ม</li>
          <li>เขียน blog เกี่ยวกับ Computational Thinking เป็นเหมือนจดหมายให้กับคนที่จะมาสายนี้ (หรือคนทั่วๆ)</li>
        </ul>
      </div>
      <div class="bg-success p-4 rounded-lg">
        <p class="text-lg font-medium text-center">
          🎯 <strong>สุดท้ายคือทำให้สัก 80% ของที่เขียน ต้องซื่อสัตย์และมีวินัยกับตัวเอง</strong>
        </p>
      </div>
    </div>
  </section>
