<section class="app-container py-8 space-y-5">
  <%= form_with model: @quest_item, local: true do |form| %>
    <%= form.text_field :name, class: 'input', placeholder: 'Your new Quest' %>
    <%= form.submit 'Create Quest', class: 'btn btn-primary' %>
    <%= link_to 'Back to Quests', quest_items_path, class: 'btn btn-outline' %>
  <% end %>
</section>
